@media screen and (max-width: 1024px){
      body {
        background-size: 80%; /* slightly smaller than cover */
        background-position: center top;
        
    }

    .text{
        margin-top: 50px;
    }
    
}